#totalCost {
  padding: 20px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.gridContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, [row] auto);
  align-content: center;
  justify-content: center;
  grid-gap: 1rem;
  background-color: white;
  margin: 40px;
}

.gridElement {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto auto;
  align-content: center;
  justify-content: center;
  grid-gap: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.cost {
  grid-column: 1;
  grid-row: row;
}

.costTitle {
  grid-column: 1;
  grid-row: 1;
}

.totalCost {
  grid-column: 1 / 2;
  grid-row: 2;
}

.costPrediction {
  grid-column: 2 / 3;
  grid-row: 2;
}

.failedJobs {
  grid-column: 1;
  grid-row: row 2;
}

.failedJobsTitle {
  grid-column: 1;
  grid-row: 1;
}

.failedJobsPieChart {
  grid-column: 1 / 2;
  grid-row: 2;
}

.sdkAnalysis {
  grid-column: 1;
  grid-row: row 3;
  background-color: papayawhip;
}

.sdkTitle {
  grid-column: 1;
  grid-row: 1;
}

.resourceAnalysis {
  grid-column: 1;
  grid-row: row 4;
  background-color: papayawhip;
}

.vCPUAnalysis {
  grid-column: 1;
  grid-row: 1;
}

.resourceTitle {
  grid-column: 1;
  grid-row: 1;
}

.locationAnalysis {
  grid-column: 1;
  grid-row: row 5;
  background-color: papayawhip;
}

.locationTitle {
  grid-column: 1;
  grid-row: 1;
}

.graph {
  display: inline-block;
  background-color: pink;
}

#dataButtons {
  margin: 30px;
}

body {
  padding: 30px;
}

h1, h2, p, label {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  top: 0px;
  display: flex;
  position: relative;
}