body {
  overflow-x: hidden;
}

header {
  padding: 0 12px;
  position: fixed;
  z-index: 11;
  opacity: 1;
  top: 0px;
  left: 0px;
  height: 48px;
  width: 100%;
  background-color: white; 
  font-family: "Google Sans",Arial,Helvetica,sans-serif;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

#navigationBar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#navigationBar a {
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  font-size: 17px;
}

#navigationBar a:hover {
  background-color: #ddd;
}

#moduleTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  left: 0px;
  height: 240px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

#moduleTitle img {
  max-height: 100%;
}

#titleText {
  display: flex;
  flex-direction: column; 
}

#titleText h1 {
  color: white;
  font-size: 50px;
  margin: 0px;
}

#moduleTitle .bigger {
  font-size: 70px;
}

.moduleSpace {
    height: 50px;
}

#access{
  position: relative;
  left: 25%;
  width: 40%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
}

/* The animation code */
@keyframes fade {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fade {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

#accessForm {
  max-width: 65%;
  height: 100%;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  border-radius: 14px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12); 
}

.accessContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#accessButton {
  cursor: pointer;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  background: url(images/arrow-right.png) center no-repeat;
  background-size: 30%;
  background-color: #f3b23b;
  border: 0;
  border-radius: 50%;
  color: rgb(141, 140, 140);
  display: inline-block;
  font-weight: 400;
  height: 65px;
  line-height: normal;
  padding: 0;
  text-align: center;
  width: 65px;
  outline: none;
  margin: 0px 100px;
}

#accessButton:hover {
  background-color: orange;
}

#accessButton:focus {
  background-color: darkorange;
}

#accessForm input {
  max-width: 90%;
  margin-top: 15px;
  background-color: none;
  font-size: 16px;
  padding: 15px 20px;
  outline: none;
  border-width: 0 0 1px;
  border-color: rgba(0,0,0,.14);
}

.emphasizedText {
  font-weight: bold;
}

.indentText {
  padding-left: 10px;
}

#instructionButton {
  background: url(images/info.png) center no-repeat;
  background-size: contain;
  margin-top: 10px;
  height: 30px;
  width: 30px;
  outline: none; 
  border: none;  
}

#instructionButton:hover {
  background-color: orange;
  border-radius: 30px;
}

#infoContainer {
  position: absolute;
  left: 100%;
  padding: 0 20px 5px 20px;
  width: 80%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center; 
  overflow: scroll; 
  border: none;
  border-radius: 14px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

#content {
  display: none;
}

#projectIDForm {
    display: flex;
    justify-content: center;
}

#projectIDForm input[type=text] {
  font-size: 16px;
  width: 40%;
  padding: 12px 10px;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 14px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12); 
}

input[type=button] {
    background: url(images/find.png) right no-repeat;
    text-align: left;
    margin-left: 12px;
    background-color: rgb(255, 187, 0);
    width: 65px;
    outline: none;
    border: none;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

input[type=button]:hover {
  background-color: #e88304;
}

.permissionButton {
  margin-left: 10px;
  width: 25px;
  outline: none;
  border: none;
}

#showMissingPermision {
  background: url(images/warning.png) center no-repeat;
  background-size: contain;
}

#allPermisionsCorrect {
  background: url(images/check.png) center no-repeat;
  background-size: contain;
}

#showMissingPermision:hover, #allPermisionsCorrect:hover {
  background-color: #ddd;
}

#permissionDialog {
  background-color: #ddd;
  text-align: center;
  padding: 4px;
  margin: 8px;
}

#aggregationForm {
  display: flex;
  justify-content: center;
  visibility: hidden;
}
#aggregationForm label {
  font-family: "Google Sans",Arial,Helvetica,sans-serif;
}

#aggregationForm input[type=radio] {
  visibility:hidden;
}

#aggregationForm label[for^="radio"] {
  cursor: pointer;
  border: 2px solid #e88304;
  border-radius: 10px;
  padding: 5px;
}

#aggregationForm label[for^="radio"]:hover {
  background-color: #e88304;
}

#aggregationForm input:checked + label {
  border: none;
  background-color: #85bf85;
}

#totalCost {
  padding: 20px;
}

.sdkDetails {
  color: #666;
  font-size: 14px;
  text-indent: 10px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.gridContainer {
  visibility: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, [row] auto);
  align-content: center;
  justify-content: center;
  grid-gap: 1rem;
  background-color: white;
  margin: 40px;
}

.gridElement {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto auto auto 250px auto;
  align-content: center;
  justify-content: center;
  grid-gap: 1em;
  font-family: "Google Sans",Arial,Helvetica,sans-serif;
  background-color: white;
  border: 2px solid darkgrey;
  border-radius: 24px;
  padding: 30px 30px 30px 30px;
  margin-top: 40px;
}

#returnToTop {
  font-weight: bold;
}

#regionDiv {
  grid-column: 1;
  grid-row: row 1;
}

.cost {
  grid-column: 1;
  grid-row: row 2;
}

.costTitle {
  grid-column: 1 / 3;
  grid-row: 1;
}

.costSubtitle {
  grid-column: 1;
  grid-row: 2;
}

.totalCost {
  grid-column: 1 / 2;
  grid-row: 3;
}

.averageCost {
  grid-column: 2 / 3;
  grid-row: 3;
}

.costPrediction {
  grid-column: 1 / 2;
  grid-row: 4;
}

.graphButton {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graphButton button {
  margin-top: 12px;
  background-color: rgb(197, 197, 197);
  width: 40%;
  height: 30px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  font-family: "Google Sans",Arial,Helvetica,sans-serif;
  font-size: 20px;
  text-align: center;
}

.graphButton button:hover {
    cursor: pointer;
    background-color: darkgrey;
}

.failedJobs {
  grid-column: 1;
  grid-row: row 3;
}

.failedJobsTitle {
  grid-column: 1;
  grid-row: 1;
}

.failedJobsSubtitle {
  grid-column: 1 / 3;
  grid-row: 2;
}

.failedJobsPieChart {
  grid-column: 1 / 2;
  grid-row: 3;
}

.failedJobsCostPieChart {
  grid-column: 1 / 2;
  grid-row: 4;
}

.cancelledJobsPieChart {
  grid-column: 2 / 3;
  grid-row: 3;
}

.cancelledJobsCostPieChart {
  grid-column: 2 / 3;
  grid-row: 4;
}

#noMoneyMessage {
  align-items: center;
  font-weight: bold;
  background-color: #ddd;
}

.sdkAnalysis {
  grid-column: 1;
  grid-row: row 4;
}

.sdkTitle {
  grid-column: 1;
  grid-row: 1;
}

.resourceAnalysis {
  grid-column: 1;
  grid-row: row 5;
}

.resourceTitle {
  grid-column: 1;
  grid-row: 1;
}

.resourceSubtitle {
  grid-column: 1 / 3;
  grid-row: 2;
}

.vCPUAnalysis {
  grid-column: 1 / 2;
  grid-row: 3;
}

.SSDVsHDDTimeAnalysis {
  grid-column: 2 / 3;
  grid-row: 3;
}

.SSDVsHDDAnalysis {
  grid-column: 1 / 2;
  grid-row: 4;
}

.graph {
  display: inline-block;
  background-color: pink;
}

#dataButtons {
  margin: 30px;
}

body {
  padding: 30px;
}

h1, h2, p, label, .failedJobsCostPieChart, .failedJobsCost-container, #permissionDialog {
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
}

h2 {
  top: 0px;
  display: flex;
  position: relative;
}

#chartDiv {
  grid-row: 2 / 6;
  grid-column: 1 / 3;
}

.footer {
  position: relative;
  left: -38px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000c7;
  height: 300px;
  bottom: 0;
  width: 110%;
  color: white;
  text-align: center;
}

.footer p {
  margin-top: 7px;
  margin-bottom: 0px;
}

.pageLink {
  color: rgb(243 179 59);
}

.pageLink:visited {
  color: rgb(171 111 0);
}
