header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  position: fixed;
  z-index: 11;
  opacity: 1;
  top: 0px;
  left: 0px;
  height: 48px;
  width: 100%;
  background-color: white; 
  font-family: "Google Sans",Arial,Helvetica,sans-serif;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

header a {
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  font-size: 17px;
}

header a:hover {
  background-color: #ddd;
}

#moduleTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  left: 0px;
  height: 240px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

#moduleTitle img {
  max-height: 100%;
}

#titleText {
  display: flex;
  flex-direction: column; 
}

#titleText h1 {
  color: white;
  font-size: 50px;
  margin: 0px;
}

#moduleTitle .bigger {
  font-size: 70px;
}

.moduleSpace {
    height: 50px;
}

#projectIDForm {
    display: flex;
    justify-content: center;
}

input[type=text] {
  font-size: 16px;
  width: 40%;
  padding: 12px 10px;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 14px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12); 
}

input[type=button] {
    background: url(images/find.png) center no-repeat;
    margin-left: 12px;
    background-color: rgb(255, 187, 0);
    width: 8%;
    outline: none;
    border: none;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

input[type=button]:hover {
  background-color: #e88304;
}

.permissionButton {
  margin-left: 10px;
  width: 25px;
  outline: none;
  border: none;
}

#showMissingPermision {
  background: url(images/warning.png) center no-repeat;
  background-size: contain;
}

#allPermisionsCorrect {
  background: url(images/check.png) center no-repeat;
  background-size: contain;
}

#showMissingPermision:hover, #allPermisionsCorrect:hover {
  background-color: #ddd;
}

#permissionDialog {
  background-color: #ddd;
  text-align: center;
  padding: 4px;
  margin: 8px;
}

#aggregationForm {
  display: flex;
  justify-content: center;
}
#aggregationForm label {
  font-family: "Google Sans",Arial,Helvetica,sans-serif;
}

#aggregationForm input[type=radio] {
  visibility:hidden;
}

#aggregationForm label[for^="radio"] {
  cursor: pointer;
  border: 2px solid #e88304;
  border-radius: 10px;
  padding: 5px;
}

#aggregationForm label[for^="radio"]:hover {
  background-color: #e88304;
}

#aggregationForm input:checked + label {
  border: none;
  background-color: #85bf85;
}

#totalCost {
  padding: 20px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.gridContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, [row] auto);
  align-content: center;
  justify-content: center;
  grid-gap: 1rem;
  background-color: white;
  margin: 40px;
}

.gridElement {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto auto auto auto auto;
  align-content: center;
  justify-content: center;
  grid-gap: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.cost {
  grid-column: 1;
  grid-row: row;
}

.costTitle {
  grid-column: 1;
  grid-row: 1;
}

.costSubtitle {
  grid-column: 1;
  grid-row: 2;
}

.totalCost {
  grid-column: 1 / 2;
  grid-row: 3;
}

.averageCost {
  grid-column: 2 / 3;
  grid-row: 3;
}

.costPrediction {
  grid-column: 1 / 2;
  grid-row: 4;
}

.dayOptionButton {
  grid-column: 1 / 2;
  grid-row: 5;
}

.weekOptionButton {
  grid-column: 2 / 3;
  grid-row: 5;
}

.failedJobs {
  grid-column: 1;
  grid-row: row 2;
}

.failedJobsTitle {
  grid-column: 1;
  grid-row: 1;
}

.failedJobsPieChart {
  grid-column: 1 / 2;
  grid-row: 2;
}

.failedJobsCostPieChart {
  grid-column: 2 / 3;
  grid-row: 2;
}

.sdkAnalysis {
  grid-column: 1;
  grid-row: row 3;
  background-color: papayawhip;
}

.sdkTitle {
  grid-column: 1;
  grid-row: 1;
}

.resourceAnalysis {
  grid-column: 1;
  grid-row: row 4;
  background-color: papayawhip;
}

.resourceTitle {
  grid-column: 1;
  grid-row: 1;
}

.vCPUAnalysis {
  grid-column: 1 / 2;
  grid-row: 2;
}

.SSDVsHDDTimeAnalysis {
  grid-column: 2 / 3;
  grid-row: 2;
}

.locationAnalysis {
  grid-column: 1;
  grid-row: row 5;
  background-color: papayawhip;
}

.locationTitle {
  grid-column: 1;
  grid-row: 1;
}

.graph {
  display: inline-block;
  background-color: pink;
}

#dataButtons {
  margin: 30px;
}

body {
  padding: 30px;
}

h1, h2, p, label, #permissionDialog {
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
}

h2 {
  top: 0px;
  display: flex;
  position: relative;
}